//MAIN PAGE

h3 {
  margin-bottom: 25px;
}

.accordion {
    .accordion-heading {
        .accordion-toggle {
            display: -moz-box;
            -moz-box-orient: horizontal;
            -moz-box-pack: center;
            -moz-box-align: center;
            display: -webkit-box;
            -webkit-box-orient: horizontal;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            width: 100%;
            
            &:hover,
            &:focus {
                text-decoration: none;
            }
            
            .textElement {
                font-size: 1.1rem;
                font-weight: 700;
                color: $darkText;
                padding: 0px 10px 0px 0px;
            }
            
            .lineElement {
                -moz-box-flex: 1;
                -webkit-box-flex: 1;
                border-bottom: 1px solid $charcoalText;
                padding: 1px 0px;
            }
            
            .caretElement {
                padding: 0px 10px;
                
                .fa {
                    color: $charcoalText;
                }
            }
        }
    }
    
    .accordion-inner {
        ul {
            margin-top: 5px;
            padding-left: 10px;
            list-style-type: none;
            
            .jobDetailLabel {
                display: inline-block;
                width: 125px;
                font-size: 1.1rem;
            }
            
            .attributeLabel {
                @extend .jobDetailLabel;
                width: auto;
            }
            
            a {
                margin-left: -2px;
            }
        }
    }
}

.buttonWrapper {
    @include marginY(20px);
    display: flex;
    align-content: center;
    justify-content: center;

    .btn-primary {
        margin-right: 4px;
    }
        
    .btn-github {
        margin-left: 4px;
    }
}

