//PALETTE

$whiteText:         #ffffff;
$darkText:          #666666;
$charcoalText:      #999999;

//BUTTONS
$github:            #333333;
$githubBorder:      #222222;
$githubShade:       #222222;
$githubBorderShade: #111111;